In [3]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv("C:\ml31.csv", index_col='id')
df

     X   Y
id
1    6  12
2   14  23
3   10  32
4   16  44
5    2   5
6    1   5
7   21  40
8    7  15
9   25  40
10  12  34

In [6]:
df["X"].mean()

11.4

In [5]:
df["Y"].mean()

25.0

In [8]:
X = pd.DataFrame(df.drop(['Y'], axis=1))
Y = pd.DataFrame(df['Y'])
reg = LinearRegression().fit(X,Y)

In [13]:
reg.coef_

array([[1.69442433]])

In [14]:
reg.intercept_

array([5.68356264])

In [15]:
reg.score(X,Y)

0.7874782388594825