In [15]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [19]:
train_data = pd.read_csv("C:\ml41.csv", index_col = "id")
train_data

     X   Y  Class
id
1   51  43      1
2   22  87      1
3   10  55      0
4   90  17      1
5   59  65      0
6   13  44      0
7   73  50      1
8   75  24      1
9   31  19      0
10  55  93      0

In [20]:
X = pd.DataFrame(train_data.drop(['Class'], axis=1))
y = pd.DataFrame(train_data['Class']).values.ravel()

In [21]:
Euclid = KNeighborsClassifier(n_neighbors=3, p=2)
Euclid.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [22]:
Object = [34, 28]

In [23]:
Euclid.kneighbors([Object])

(array([[ 9.48683298, 22.6715681 , 26.40075756]]),
 array([[8, 0, 5]], dtype=int32))

In [24]:
Euclid.predict([Object])

array([0], dtype=int64)

In [25]:
Manhattan = KNeighborsClassifier(n_neighbors=3, p=1)
Manhattan.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=1,
                     weights='uniform')

In [26]:
Manhattan.kneighbors([Object])

(array([[12., 32., 37.]]), array([[8, 0, 5]], dtype=int32))

In [27]:
Manhattan.predict([Object])

array([0], dtype=int64)

     X   Y  Class
id
1   61  48      1
2   62  28      1
3   83  84      0
4   68  24      1
5   56  39      1
6   32  95      1
7   99  14      1
8   87  64      0
9   44  35      0
10  70  51      0