In [6]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans

In [10]:
df = pd.read_csv("ml9.csv", delimiter=',', index_col='Object')
df_norm = df.drop('Cluster', axis=1)

In [12]:
kmeans = KMeans(n_clusters=3, init=np.array([[12.0, 11.5], [12.71, 13.43], [10.5, 8.75]]), max_iter=100, n_init=1)
model = kmeans.fit(df_norm)

In [13]:
df_norm["Clusters"] = model.labels_.tolist()
df_norm

         X   Y  Clusters
Object
1        5   9         0
2       10  14         0
3        2   9         0
4       11  11         0
5       14  18         1
6        9  15         0
7       20  16         1
8       18   5         2
9       16   3         2
10       8   3         2
11      18  19         1
12      19   9         1
13       5  14         0
14      16  14         1
15       8  16         0

In [15]:
alldistances = kmeans.fit_transform(df_norm.drop('Clusters',axis=1))

In [16]:
search = 0
Clusters_array = []
for i in range(len(df_norm['Clusters'])):
  if (df_norm['Clusters'][i+1] == search):
    Clusters_array.append(alldistances[i][search])
sum(Clusters_array)/len(Clusters_array)

3.850341579900647